{% extends "partials/_base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Device Configuration
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="/application">Pond IoT</a></li>                    
                    <li class="breadcrumb-item active" aria-current="page">Device {{ data.name }}</li>
                </ol>
                <h6 class="slim-pagetitle">Device Configuration</h6>
            </div><!-- slim-pageheader -->

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>                                                
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-header">
                            <strong>Sersor Value</strong>
                        </div>
                        <div class="card-body">                            
                            <table class="table table-borderless table-striped">                                
                                <tbody>
                                    <tr>
                                            <td>Oxygen</td>
                                            <td></td>
                                            <td>{{ data.oxygen }}%</td>
                                        </tr>
                                        <tr>
                                            <td>Temp.</td>
                                            <td></td>
                                            <td>{{ data.temperature }}°C</td>
                                        </tr>
                                        <tr>
                                            <td>pH</td>
                                            <td></td>
                                            <td>{{ data.ph }}</td>
                                        </tr>
                                        <tr>
                                            <td>TDS</td>
                                            <td></td>
                                            <td>{{ data.tds }}  mg/L</td>
                                        </tr>
                                        <tr>
                                            <td>turbidity</td>
                                            <td></td>
                                            <td>{{ data.turbidity }}</td>
                                        </tr>
                                </tbody>
                            </table>
                        </div><!-- card-body -->                       
                      </div>
                </div>
                <div class="col-md-8">
                    <div class="section-wrapper">
                        <label class="section-title">Device Configuration</label>
                        <p class="mg-b-20 mg-sm-b-40">Set your Configuration for device {{ data.name }}.</p>

                        <form action="/application/device/{{ data.id }}/configure" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form.device_id|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.hardware_type|as_crispy_field }}
                                </div>                          
                            </div>
                            <div class="row">                         
                                <div class="col-md-12">
                                    {{ form.api_token_inbound|as_crispy_field }}
                                </div>                          
                            </div>
                            <div class="row">                         
                                <div class="col-md-12">
                                    <div id="device_id" class="form-group">
                                        <label class="col-form-label" for="api_outbound">API Token Outbound</label>
                                        <div class="">
                                            <input type="text" class="textinput textInput form-control disabled" value="{{ data.api_token_outbound }}" readonly>
                                        </div>                                        
                                    </div>
                                </div>                          
                            </div>
                            <div class="row">                         
                                <div class="col-md-12">
                                    {{ form.description|as_crispy_field }}
                                </div>                          
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <button type="submit" class="col-md-12 btn btn-warning">Re Configure</button>                                 
                                </div>
                                <div class="col-md-4">
                                    <a onclick="return confirm('Destroy this device?')" class="col-md-12 btn btn-danger" href="/application/device/{{ data.id }}/destroy">Destroy</a>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </form>
                                                  
                    </div><!-- section-wrapper -->        
                </div>
            </div>
        </div><!-- container -->
    </div><!-- slim-mainpanel -->
{% endblock %}
