{% extends "partials/_base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Device Configuration
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="/application">Pond IoT</a></li>                    
                    <li class="breadcrumb-item active" aria-current="page">New Device</li>
                </ol>
                <h6 class="slim-pagetitle">Create New Device</h6>
            </div><!-- slim-pageheader -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>                                                
                {% endfor %}
            {% endif %}
            <div class="row">                
                <div class="col-md-12">
                    <div class="section-wrapper">
                        <label class="section-title">Device Configuration</label>
                        <p class="mg-b-20 mg-sm-b-40">Set your device information.</p>
                        <form action="/application/device/create" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form.device_id|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.hardware_type|as_crispy_field }}
                                </div>                          
                            </div>
                            <div class="row">                         
                                <div class="col-md-12">
                                    {{ form.api_token_inbound|as_crispy_field }}
                                </div>                          
                            </div>
                            <div class="row">                         
                                <div class="col-md-12">
                                    {{ form.description|as_crispy_field }}
                                </div>                          
                            </div>

                            <div class="row">
                            <div class="col-md-4 offset-4">
                                <button type="submit" class="col-md-12 btn btn-warning">Create</button>                          
                            </div>
                            </div>
                        </form>
                    </div><!-- section-wrapper -->        
                </div>
            </div>
        </div><!-- container -->
    </div><!-- slim-mainpanel -->
{% endblock %}
